* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffdfe7;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #8c1642;
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar-brand img {
    max-height: 50px;
}

.promo img {
    max-width: 100%;
}

.formulario {
    margin-top: 50px;
}

.accordion-button {
    background-color: #8c1642;
    color: #fff;
}

.accordion-button:not(.collapsed) {
    background-color: #8c16415b;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #8c1642;
    border-color: #8c1642;
    margin-bottom: 20px;
}

.btn-primary:hover {
    background-color: #5e0c27;
    border-color: #5e0c27;
}

.contacto2 {
    margin-top: 5px;
}

.footer, .footer1, .footer3 {
    background-color: #8c1642;
    color: #fff;
    text-align: center;
    width: 100%;
}

.footer {
    height: 30px;
    padding-top: 5px;
}

.footer1, .footer3 {
    line-height: 30px;
    position: absolute;
    bottom: 0;
    height: 30px;
}

@media (max-width: 767px) {
    .footer, .footer1, .footer3 {
        position: relative;
        width: 100%;
        background-color: #8c1642;
        color: #fff;
        text-align: center;
        line-height: 30px;
        padding: 10px 0;
    }

    .footer1, .footer3 {
        height: 30px;
    }
}

.main-content {
    padding: 40px 0;
    text-align: center;
}

.producto {
    background-color: #8c164163;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    min-height: 650px;
}

.producto h3 {
    color: #8c1642;
    padding-top: 15px;
}

.servicio-container {
    margin-bottom: 20px;
    text-align: center;
}

.productos-estrella {
    color: #5e0c27;
}

.servicio {
    padding: 20px;
    text-align: center;
}

.servicio img {
    max-width: 100%;
    height: auto;
}

.servicios {
    margin-top: 30px;
    text-align: center;
}

.historia {
    margin-top: 20px;
}
